.mainHeader {
	text-align: center;
	background: #4997D2;
	overflow: hidden;
    width: 100%;
    height: 47px;
}

#couponsText {
	font-family: sans-serif;
	font-size: 40px;
	font-weight: lighter;
	text-align: center;
}

#matchesFound {
	font-family: sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	color: lightgray;
}


#primaryContentBox {

	border-radius: 10px;
    border: 1px solid #868788;
    padding: 5px; 
    height: 400px; 

}

#distance {
	text-align: right;
	margin-top: -16;
}

#foodBackground {
	height: 43%;
	width: 100%;

}

#profileImage {
	border-radius: 10px;
    border: 1px solid #868788;
    padding: 2px; 
	box-shadow: 1px 1px 5px #888888; 
	margin: 15px;
	margin-top: -70;
}

#coCategory {
	font-size: 14px;
	font-family: sans-serif;
	text-align: center;
	margin-top: -40;
}

#companyButtonTitle {
	color: white;
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: lighter;
	padding-top: 25px;
	margin-top: 24px;
	background: #4997D2;
	overflow: hidden;
    width: 100%;
    height: 45px;
}

#discoutButton {
	color: gray;
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 500;

	padding-top: 13px;
	margin-top: 5px;
	background: white;

    width: 100%;
    height: 40px;
	border-radius: 10px;
    border: 1px solid #868788;
}
